<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
    <title>{{page.title}}</title>
    <!-- mathjax config similar to math.stackexchange -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        displayAlign: 'center',
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
    </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>
    <center><h1>Epsilon Greedy Quants</h1></center>
    <p align="center">
    Harvard Extension School Data Science Capstone Fall 2020
    <br />Michael Lee - Nikat Patel - Jose Antonio Alatorre Sanchez
    <br /> <a href="https://github.com/nikatpatel/epsilon-greedy-quants" target="_blank"> GitHub Repository </a>    
    <br /> <a href="https://github.com/nikatpatel/epsilon-greedy-quants/blob/main/capstone_project_report.pdf" target="_blank"> Project Report </a>
    </p>
    <div class="container-lg px-3 my-5 markdown-body">
      <p align="center">
      <nav class="group">
        <a href="{{ "/" | absolute_url }}">Abstract</a>
        {% assign navigation_pages = site.html_pages | sort: 'nav_include' %}
        {% for node in navigation_pages %}
                {% if node.nav_include %}
                    {% if page.url == node.url %}
                        &nbsp;|&nbsp;<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active" style="color:#b4d5fe">{{node.title}}</a>
                    {% else %}
                      &nbsp;|&nbsp;<a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
                    {% endif %}
                {% endif %}
        {% endfor %}
        </nav>
      </p>

      {% if page.title == "Data Selection" %}
        <h1>Data Selection and Processing</h1>
      {% else %}
        <h1>{{page.title}}</h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>
